{% extends 'base.html.twig' %}

{% block title %}Panier index{% endblock %}

{% block body %}
    <h1>Panier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in panier_items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value["title"] }}</td>
                    <td>{{ value["quantity"] }}</td>
                    <td>
                        <div class="row justify-content-center">
                            <div class="md-5">
                                <button type="button" onclick="location.href='{{ path('panier_decr', {'movie_id' : key}) }}'" class="btn btn-primary btn-lg" style="color:#3B4CCA; ">-</button>
                            </div>
                            <div class="md-2">

                            </div>
                            <div class="md-5">
                                <button type="button" onclick="location.href='{{ path('panier_incr', {'movie_id' : key}) }}'" class="btn btn-primary btn-lg" style="color:#3B4CCA; ">+</button>
                            </div>
                        </div>
                    </td>
                </tr>    
            {% else %}
                <tr>
                    <td colspan="2">Panier est vide ou a expiré</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
