{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
<<<<<<< HEAD
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Movieid</th>
                <td>{{ movie.movieid }}</td>
            </tr>
=======
                <th>Movieid</th>
                <td>{{ movie.movieid }}</td>
            </tr>
            <tr>
                <th>Movie Title</th>
                <td>{{ movie.title }}</td>
            </tr>
>>>>>>> master
        </tbody>
    </table>

    <a href="{{ path('movie_index') }}">back to list</a>

<<<<<<< HEAD
    <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('movie/_delete_form.html.twig') }}
=======

>>>>>>> master
{% endblock %}
