{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Movieid</th>
                <td>{{ movie.movieid }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ movie.price }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ movie.genre }}</td>
            </tr>
            <tr>
                <th>Ranking</th>
                <td>{{ movie.rotten_tomatoes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movie_index') }}">back to list</a>

{% endblock %}
